<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Browser" value="chrome" />
		<add key="LoginExcelFolder" value="C:\Users\mesunil\source\repos\HRMS\HRMS\Utilities"/>
		<add key="ExcelName" value="LoginCredentials.xlsx"/>
		<add key="ReportFolder" value="C:\Users\mesunil\source\repos\HRMS\HRMS\Reports\ExtRep.html"/>
		<add key="ScreenshotFolder"  value="C:\Users\mesunil\source\repos\HRMS\HRMS\Screenshots\"/>
		<add key="AppURL" value="http://hrm.qabible.in/hrms/admin"/>
	</appSettings>
</configuration>